@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&family=Manrope:wght@400;500;600;700;800&display=swap");
@import "tailwindcss";
@plugin "daisyui";

html {
  scroll-behavior: smooth;
}

body {
  background: #ffffff;
  color: #1f2937;
  font-family: "Manrope", sans-serif;
}

.container {
  max-width: 1200px !important;
}

